src/main/resources/xsd/ehi-message.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
           targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="GetTransaction">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Acquirer_id_DE32" type="xs:string" nillable="true"/>
                <xs:element name="ActBal" type="xs:string" nillable="true"/>
                <xs:element name="Additional_Amt_DE54" type="xs:string" nillable="true"/>
                <xs:element name="Amt_Tran_Fee_DE28" type="xs:string" nillable="true"/>
                <xs:element name="Auth_Code_DE38" type="xs:string" nillable="true"/>
                <xs:element name="Avl_Bal" type="xs:string" nillable="true"/>
                <xs:element name="Bill_Amt" type="xs:string" nillable="true"/>
                <xs:element name="Bill_Ccy" type="xs:string" nillable="true"/>
                <xs:element name="BlkAmt" type="xs:string" nillable="true"/>
                <xs:element name="Cust_Ref" type="xs:string" nillable="true"/>
                <xs:element name="FX_Pad" type="xs:string" nillable="true"/>
                <xs:element name="Fee_Fixed" type="xs:string" nillable="true"/>
                <xs:element name="Fee_Rate" type="xs:string" nillable="true"/>
                <xs:element name="LoadSRC" type="xs:string" nillable="true"/>
                <xs:element name="LoadType" type="xs:string" nillable="true"/>
                <xs:element name="MCC_Code" type="xs:string" nillable="true"/>
                <xs:element name="MCC_Desc" type="xs:string" nillable="true"/>
                <xs:element name="MCC_Pad" type="xs:string" nillable="true"/>
                <xs:element name="Merch_ID_DE42" type="xs:string" nillable="true"/>
                <xs:element name="Merch_Name_DE43" type="xs:string" nillable="true"/>
                <xs:element name="Note" type="xs:string" nillable="true"/>
                <xs:element name="POS_Data_DE22" type="xs:string" nillable="true"/>
                <xs:element name="POS_Data_DE61" type="xs:string" nillable="true"/>
                <xs:element name="POS_Termnl_DE41" type="xs:string" nillable="true"/>
                <xs:element name="POS_Time_DE12" type="xs:string" nillable="true"/>
                <xs:element name="Proc_Code" type="xs:string" nillable="true"/>
                <xs:element name="Resp_Code_DE39" type="xs:string" nillable="true"/>
                <xs:element name="Ret_Ref_No_DE37" type="xs:string" nillable="true"/>
                <xs:element name="Settle_Amt" type="xs:string" nillable="true"/>
                <xs:element name="Settle_Ccy" type="xs:string" nillable="true"/>
                <xs:element name="Status_Code" type="xs:string" nillable="true"/>
                <xs:element name="Token" type="xs:string" nillable="true"/>
                <xs:element name="Trans_link" type="xs:string" nillable="true"/>
                <xs:element name="Txn_Amt" type="xs:string" nillable="true"/>
                <xs:element name="Txn_CCy" type="xs:string" nillable="true"/>
                <xs:element name="Txn_Ctry" type="xs:string" nillable="true"/>
                <xs:element name="Txn_Desc" type="xs:string" nillable="true"/>
                <xs:element name="Txn_GPS_Date" type="xs:string" nillable="true"/>
                <xs:element name="TXn_ID" type="xs:string" nillable="true"/>
                <xs:element name="Txn_Stat_Code" type="xs:string" nillable="true"/>
                <xs:element name="TXN_Time_DE07" type="xs:string" nillable="true"/>
                <xs:element name="Txn_Type" type="xs:string" nillable="true"/>
                <xs:element name="Additional_Data_DE48" type="xs:string" nillable="true"/>
                <xs:element name="Authorised_by_GPS" type="xs:string" nillable="true"/>
                <xs:element name="AVS_Result" type="xs:string" nillable="true"/>
                <xs:element name="CU_Group" type="xs:string" nillable="true"/>
                <xs:element name="InstCode" type="xs:string" nillable="true"/>
                <xs:element name="MTID" type="xs:string" nillable="true"/>
                <xs:element name="ProductID" type="xs:string" nillable="true"/>
                <xs:element name="Record_Data_DE120" type="xs:string" nillable="true"/>
                <xs:element name="SubBIN" type="xs:string" nillable="true"/>
                <xs:element name="TLogIDOrg" type="xs:string" nillable="true"/>
                <xs:element name="VL_Group" type="xs:string" nillable="true"/>
                <xs:element name="Dom_Fee_Fixed" type="xs:string" nillable="true"/>
                <xs:element name="Non_Dom_Fee_Fixed" type="xs:string" nillable="true"/>
                <xs:element name="Fx_Fee_Fixed" type="xs:string" nillable="true"/>
                <xs:element name="Other_Fee_Amt" type="xs:string" nillable="true"/>
                <xs:element name="Fx_Fee_Rate" type="xs:string" nillable="true"/>
                <xs:element name="Dom_Fee_Rate" type="xs:string" nillable="true"/>
                <xs:element name="Non_Dom_Fee_Rate" type="xs:string" nillable="true"/>
                <xs:element name="Additional_Data_DE124" type="xs:string" nillable="true"/>
                <xs:element name="CVV2" type="xs:string" nillable="true"/>
                <xs:element name="Expiry_Date" type="xs:string" nillable="true"/>
                <xs:element name="PAN_Sequence_Number" type="xs:string" nillable="true"/>
                <xs:element name="PIN" type="xs:string" nillable="true"/>
                <xs:element name="PIN_Enc_Algorithm" type="xs:string" nillable="true"/>
                <xs:element name="PIN_Format" type="xs:string" nillable="true"/>
                <xs:element name="PIN_Key_Index" type="xs:string" nillable="true"/>
                <xs:element name="SendingAttemptCount" type="xs:string" nillable="true"/>
                <xs:element name="source_bank_ctry" type="xs:string" nillable="true"/>
                <xs:element name="source_bank_account_format" type="xs:string" nillable="true"/>
                <xs:element name="source_bank_account" type="xs:string" nillable="true"/>
                <xs:element name="dest_bank_account_format" type="xs:string" nillable="true"/>
                <xs:element name="dest_bank_account" type="xs:string" nillable="true"/>
                <xs:element name="dest_bank_ctry" type="xs:string" nillable="true"/>
                <xs:element name="GPS_POS_Capability" type="xs:string" nillable="true"/>
                <xs:element name="GPS_POS_Data" type="xs:string" nillable="true"/>
                <xs:element name="Acquirer_Reference_Data_031" type="xs:string" nillable="true"/>
                <xs:element name="Response_Source" type="xs:string" nillable="true"/>
                <xs:element name="Response_Source_Why" type="xs:string" nillable="true"/>
                <xs:element name="Message_Source" type="xs:string" nillable="true"/>
                <xs:element name="Message_Why" type="xs:string" nillable="true"/>
                <xs:element name="traceid_lifecycle" type="xs:string" nillable="true"/>
                <xs:element name="Balance_Sequence" type="xs:string" nillable="true"/>
                <xs:element name="Balance_Sequence_Exthost" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_id" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_creator" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_expdate" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_type" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_status" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_creatorStatus" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_wallet" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_deviceType" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_lang" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_deviceTelNum" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_deviceIp" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_deviceId" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_deviceName" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_activationCode" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_activationExpiry" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_activationMethod" type="xs:string" nillable="true"/>
                <xs:element name="PaymentToken_activationMethodData" type="xs:string" nillable="true"/>
                <xs:element name="ICC_System_Related_Data_DE55" type="xs:string" nillable="true"/>
                <xs:element name="Merch_Name" type="xs:string" nillable="true"/>
                <xs:element name="Merch_Street" type="xs:string" nillable="true"/>
                <xs:element name="Merch_City" type="xs:string" nillable="true"/>
                <xs:element name="Merch_Region" type="xs:string" nillable="true"/>
                <xs:element name="Merch_Postcode" type="xs:string" nillable="true"/>
                <xs:element name="Merch_Country" type="xs:string" nillable="true"/>
                <xs:element name="Merch_Tel" type="xs:string" nillable="true"/>
                <xs:element name="Merch_URL" type="xs:string" nillable="true"/>
                <xs:element name="Merch_Name_Other" type="xs:string" nillable="true"/>
                <xs:element name="Merch_Net_id" type="xs:string" nillable="true"/>
                <xs:element name="Merch_Tax_id" type="xs:string" nillable="true"/>
                <xs:element name="Merch_Contact" type="xs:string" nillable="true"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>