src/main/resources/xsd/iso_country_codes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="countries">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="country">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:string" name="name" use="optional"/>
                                <xs:attribute type="xs:string" name="alpha-2" use="optional"/>
                                <xs:attribute type="xs:string" name="alpha-3" use="optional"/>
                                <xs:attribute type="xs:short" name="country-code" use="optional"/>
                                <xs:attribute type="xs:string" name="iso_3166-2" use="optional"/>
                                <xs:attribute type="xs:string" name="region" use="optional"/>
                                <xs:attribute type="xs:string" name="sub-region" use="optional"/>
                                <xs:attribute type="xs:string" name="intermediate-region" use="optional"/>
                                <xs:attribute type="xs:short" name="region-code" use="optional"/>
                                <xs:attribute type="xs:short" name="sub-region-code" use="optional"/>
                                <xs:attribute type="xs:string" name="intermediate-region-code" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>